/* Css Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* setings */
html{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600px;
    color: var(--text-color);
}
/* Global Class */
.container{
    max-width: 1088px;
    margin: auto;
    /* outline: 1px solid black; */
}
/* Global Class */
.container{
    max-width: 1088px;
    margin: auto;
    /* outline: 1px solid black; */
}
/* Tablet Css Lanscap */
@media (min-width:991px) and (max-width:1024px){
    .container{
        padding:60px 27px;
    }
}
@media (max-width:991px) {
    .container{
        padding:80px 27px;
    }
}
:root{
    --regular:600;
    --semibold:700;
    --bold:800;
    --text-color:#383636;
    --primary-color:#f70142;
    --secondry-color:#011e4e;

}

/* Cta Button */
.cta-btn{
    font-size: 20px;
    font-weight: var(--semibold);
    background: var(--primary-color);
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 29px;
     transition: background-color ease 0.3s ;
     display: inline-flex;
}

@media (max-width:767px) {
    .cta-btn{
       margin-bottom: 10px;
    }
   
}


 .cta-btn:hover{
    background-color: var(--secondry-color);
  
}
.cta-btn img{
     transform: translate( 8px);
     transition: transform ease 0.3s;
}
.cta-btn:hover img{
    transform: translate( 15px);
   
}

/* UL and a tage reset  */
ul{
    list-style: none;
  
}
a{
    text-decoration: none;
}

  /* End */
body{
    font-family: 'Roboto', sans-serif;  
    font-size: 16px;
}

 /* Heder Section */
 header{
   
     padding: 10px 74px;
     position: absolute;
     z-index: 2;
     width: 100%;
   
     background: linear-gradient(to bottom,rgba(0,0,0,3) 0%, rgba(0,0,0,0)100%);
 }

@media (max-width:767px) {
    header{
        padding: 20px;
    }

}


.logo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 23px;
}
@media (max-width:767px) {
    .logo img{
        width: 50px;
        height: 50px;
    }
    
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .fa-bars{
    display: none;
    color: #fff;
   
}


@media (max-width:767px) {
    header nav .fa-bars{
        display: block;
    }

}


.navbar .menu{
    display: flex;
    margin: 0 12px;
  
    
}


@media (max-width:767px) {
    .navbar .menu{
        display: block;
        position: absolute;
       background: rgba(0, 0, 0,0.4);
        left: 0;
        right: 0;
        width: 100%;
        top: 97px;
        margin: 0;
        padding: 45px 0;
        display: none
    }

    .navbar .menu.open{
        display:block ;
        
    }

}



.navbar a{
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    margin: 0 20px;
    padding: 7px 5px;
}
.navbar li:last-child a{
    padding-right: 0;
}
.navbar li a{
    transition: color ease 0.7s;
}
.navbar li:hover a{
    color: #f70142;
}


.navbar li.activ a{
    border-bottom: 2px solid #f70142;
}

@media (max-width:767px) {
    .navbar li.activ a{
  border-bottom: none;
  }
}

/* hero */
.hero{
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: rgb(0, 0, 0);
}
.hero img{
 width: 100%;
}
@media (max-width:767px) {
     .hero-info{
        color: white;
        font-size: 74px;
        font-weight: 900;
    }
}

@media (max-width:767px) {
    .hero img{
        height:100vh;
       object-fit: cover;
    }
}


.hero .hero-info h1{
    color: white;
    font-size: 42px;
    font-weight: 900;
}


hero-info h1 span{
    line-height: 74px;
    font-size: 38px;
    font-weight: 400;
}
.hero .hero-info p{
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    margin-bottom:32px;

}
.hero .hero-info{
    position: absolute;
    top: 50%;
    left: 78px;
  transform: translateY(-50%);
  max-width: 440px;
}
.hero .hero-info .cta-btn{
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    background-color: #f70142;
    padding: 12px 30px;
    border-radius: 24px;
    transition: background-color ease-in-out 0.3s;
}
.hero .hero-info .cta-btn:hover{
    background-color: rgb(0, 0, 0);
    
}
 .swiper-pagination-bullet{
    width: 23px;
    height: 23px;
    background: transparent;
    border: 2px solid white;
    opacity: 1;
    outline: none;
}
 .swiper-pagination-bullet-active{
    border: 2px solid #f70142;
  

}

/* =================================================================== */



/* min */
/* img-info-layout */
.info-img-layout{
    position: relative;
    margin-top: 100px;
}
.info-img-layout .flex-wraper{
    display: flex;
    align-items: center;
    height: 684px;
}
/* Tablet Css Lanscap */
@media (min-width:991px) and (max-width:1024px){
    .info-img-layout .flex-wraper{
        height: 520px;
    }
}

/* Tablet Css */
@media (min-width:768px) and (max-width:991px){
    .info-img-layout .flex-wraper{
        height: auto;
    }
}

/* Mobil Css Rsponsev */
@media (max-width:767px) {
    .info-img-layout .flex-wraper{
        display: block;
        height: auto;
    }
}
.info-img-layout .info-wraper{
    flex: 1.4;
    max-width: 563px;
}
/* Tablet Css Lanscap */
@media (min-width:768px) and (max-width:1024px){
    .info-img-layout .info-wraper{
        max-width: 420px;
       
    }
}
/* Tablet Css */
@media (min-width:768px) and (max-width:991px){
    .info-img-layout .info-wraper{
        max-width: 360px;
        padding-top: 20px;
    }
}
.info-img-layout .info-wraper h2{
    font-size: 48px;
    line-height: 64px;
    color: var(--text-color);
    font-weight: var(--regular);
    margin-bottom: 16px;
}

/* Tablet Css */
@media (min-width:768px) and (max-width:1024px) {
    .info-img-layout .info-wraper h2{
        font-size: 32px;
    }
 }
/* Mobil Css Rsponsev */
@media (max-width:767px) {
    .info-img-layout .info-wraper h2{
        font-size: 23px;
    }
}
.info-img-layout .info-wraper h2 span{
    font-weight: var(--bold);
}
.info-img-layout .info-wraper h3{
    color:var(--secondry-color) ;
    font-size: 20px;
    font-weight: var(--semibold);
}
.info-img-layout .info-wraper p{
    margin: 32px 0 40px;
}


.info-img-layout .img-wraper{
    flex: 1;
    position: absolute;
    right: 0;
    top: 0;
}

/* Tablet Css */
@media (min-width:768px) and (max-width:991px) {
    .info-img-layout .img-wraper{
        max-width: 350px;
    }
}

/* Mobil Css Rsponsev */
@media (max-width:767px) {
    .info-img-layout .img-wraper{
        position: static;
    }
}

.info-img-layout .img-wraper img{
    width: 100%;
}

/* --------------------------------------------------------------- */
/* Info Img layout with-bg*/

.info-img-layout .img-wraper.position-reset{
    position: static;
}
.info-img-layout.with-bg .info-wraper{
    margin-left: 104px;
}
/* Mobil Css Rsponsev */
@media (max-width:767px){
    .info-img-layout.with-bg{
        margin: 80px 0;
    }
}
/* Mobil Css Rsponsev */
@media (max-width:767px) {
    .info-img-layout.with-bg .info-wraper{
        margin-left: 0;
        margin-top: 106px;
    }
}

.info-img-layout.with-bg .img-wraper{
    /* position: relative; */
    margin-bottom: 60px;
}
.info-img-layout.with-bg .img-wraper::before{
    content: "";
    width: 30%;
    height: 100%;
    background-color: var(--secondry-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
/* Tablet Css */
@media (min-width:768px) and (max-width:991px){
    .info-img-layout.with-bg .img-wraper::before{
        height: 90%;

    }
}

/* Mobil Css Rsponsev */
@media (max-width:767px) {
    .info-img-layout.with-bg .img-wraper::before{
       width: 50%;
        height: 45%;
        top: -22px;
        left: -22px;
        
    }
}

/* footer */
.footer-menu{
    display: flex;
    margin-top: 32px;
  padding: 13px 34px;
    background-color: #0f0b0b;
    text-align: center;
}